#visualContainer {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  grid-area: right;
}
#blocklyArea {
  grid-area: left;
  position: relative;
}
#controlContainer {
  grid-area: controls;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.2rem;
  text-align: center;
  align-items: center;
}
#blocklyDiv {
  position: absolute;
}
#wrapper {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "header header header header header"
    "top top top top top"
    "spacer spacer spacer spacer spacer"
    "left left controls right right"
    "footer footer footer footer footer";
  grid-template-rows: auto 4rem 2rem 1fr 5vh;
  grid-template-columns: 1fr 1fr 6rem 1fr 1fr;
}
#header {
  grid-area: header;
  padding: 0.5rem 2rem;
}
#levelSelector {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 1);
  grid-area: top;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  padding: 0 2rem;
  font-size: 2rem;
}
#levelSelector .levelItem:hover,
#levelSelector .levelItem.current:hover {
  cursor: pointer;
  color: #f15922;
}
#levelSelector .levelItem.current {
  color: #5baec5;
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #474747;
  font-family: Verdana, Geneva, sans-serif;
}
.botDisplay {
  display: none;
}
#levelDescription {
  font-size: 3rem;
  display: flex;
  text-align: center;
  align-items: center;
}
#output {
  display: none;
}
button {
  border: 0;
  background-color: none;
}

#controlContainer button {
  width: 100%;
  font-size: 1.8rem;
}

#controlContainer button {
  background-color: rgba(241, 90, 34, 1);
  color: white;
}

#controlContainer button:hover {
  background-color: rgba(182, 243, 232, 1);
  color: black;
  cursor: pointer;
}

#controlContainer button:disabled {
  background-color: rgba(242, 242, 242, 1);
  color: white;
  cursor: not-allowed;
}
@keyframes gentlyRock {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flame {
  animation: gentlyRock 3s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.flame.out {
  animation: fadeOut 1.5s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
